h2{ border: 3px  solid pink;}
h5{ background-color: darkseagreen;}
p{ background-color: lightsalmon;}
img{ height: 300px;width: 300px;}
.head{ background-color: crimson;}
.suf{ background-color: grey;}